.header {
  display: flex;
  height: 45px;
  width: 100%;
  background-color: #181a1b;
  justify-content: space-between;
  padding-right: 2%;
}
.header h2,
.header h1 {
  padding-left: 20px;
  color: #b8b4ad;
}

.search {
  margin-left: 10%;
  margin-top: 6px;
}
/* ::placeholder {
  font-size: 17px;
} */
