.widget {
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  background-color: #181a1b;
  border-radius: 16px;
}

.widget_list {
  padding: 0;
  list-style: none;
}
.widget_list a:before {
  margin-right: 14px;
}
.widget_list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgb(190, 190, 190);
  transition: 0.3s linear;
  transition: 0.36s ease;
}
.widget_list a:hover {
  color: #b99d61;
}
